body {
	margin: 0;
}
.iframe {
	display: flex;
}
iframe {
	border: none;
	width: 100%;
}
#scoop {
	width:400px;
	height:100%;
	float: left;
	background:#FAFAFB;
	border-right: 1px solid #E8E8E8;
	z-index:999999;
	font-family: HelveticaNeue;
}

#scoop .header {
	overflow: hidden;
	height: 30px;
	margin-top: 15px;
}

#scoop .left-button {
	float: left;
	font-size: 14px;
	margin-left: 15px;
	font-family: HelveticaNeue;
	position: absolute;
}
#scoop .left-button a {
	color: #B6B6B6;
	text-decoration: none!important;
}

#scoop .mid {
	font-size: 16px;
	font-family: HelveticaNeue-Medium;
	color: #989898;
	padding-left: 30px;
	text-align: center;
}

#scoop .right-button {
	float: right;
	margin-right: 15px;
}
#scoop .close:hover {
	cursor: pointer;
}
#scoop .title {
	font-size: 16px;
	color: #333333;
	text-align: center;
	font-family: HelveticaNeue;
}

#scoop .description {
	font-size: 14px;
	font-family: HelveticaNeue;
	color: #333333;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 6%;
}

#scoop .prompt {
	text-align: center;
	position: relative;
	top: 50%;
  margin-top: -45px;
  padding: 0 50px;
}
#scoop .prompt .title {
	font-family: HelveticaNeue-Medium;
	font-size: 16px;
	color: #555759;
}
#scoop .prompt .description {
	font-family: HelveticaNeue;
	font-size: 15px;
	color: #555759;
}

#scoop .prompt button {
	font-family: HelveticaNeue;
	background-color: #55ACEE;
	color: white;
	border: 1px solid #5491C0;
	border-radius: 2px;
	padding: 13px 25px;
  font-size: 15px;
  width: 80%;
}

#scoop ul {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#scoop li {
	background-color: white;
  padding: 10px;
  border-bottom: 1px solid #E8E8E8;
}

#scoop .media-left img{ 
	height: 50px;
	width: 50px;
	border-radius: 5px;
	float: left;
}
#scoop .media-left {
	float: left;
}

#scoop .media-right {
	width: 100%;
	padding-left: 10px;
}
#scoop .name {
	display: inline-block;
	font-size: 16px;
	color:#292F33!important;
  font-family: HelveticaNeue-Medium;
}
.template {
	display: none;
}
#scoop .inner {
	margin: 0 10px;
	margin-left: 50px;
}
#scoop a {
	text-decoration: none!important;
}
#scoop .tweet {
	font-size: 15px;
	color: #292F33;
}
#scoop .tweet a {
	color: #5080A0;
}
#scoop .username {
	display: inline-block;
	color: #9E9FA0!important;
	font-size: 14px;
}

#scoop .button {
	display: inline-block;
	font-size: 13px;
	color: #9E9FA0;
}
#scoop .button img:hover {
	cursor: pointer;
}
#scoop .button.right {
	  float: right;
}
