body {
	margin: 0;
}

#scoop {
	position:fixed;
	top:0px;
	left:0px;
	width:300px;
	height:100%;
	background:#FAFAFB;
	z-index:999999;
	font-family: Helvetica;
}

.header {
	overflow: hidden;
}

.left-button {
	float: left;
	font-size: 14px;
	padding-top: 6%;
	padding-left: 7%;
	padding-bottom: 2%;
	color: #B6B6B6;
}

.mid {
	font-size: 16px;
	color: #9A928E;
	padding-top: 7%;
	padding-left: 25%;
	padding-bottom: 2%;
	font-family: Helvetica;
}

.right-button {
	float: right;
	padding-top: 8%;
	padding-right: 7%;
	padding-bottom: 2%;	
}

.title {
	font-size: 16px;
	color: #333333;
	padding-top: 85%;
	text-align: center;
	padding-bottom: 3%;
	font-family: Helvetica;
}

.description {
	font-size: 14px;
	font-family: Helvetica;
	color: #333333;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 6%;
}

.prompt {
	padding-left: 7%;
	padding-right: 7%;
	text-align: center;
}

.prompt button {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 25%;
	padding-right: 25%;
	font-family: Helvetica;
	background-color: #55ACEE;
	color: white;
	border: none;
	border-radius: 2px;
	border-color: #5491C0;
}

ul {
	list-style-type: none;
	display: inline;
}

li {
	background-color: white;
	display: flex;
    flex-flow: row wrap;
}

.media-left img{
	height: 50px;
	width: 50px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.media-right {
	display: inline;
	float: right;
}

.name a {
	color:#000000;
}

.name a:link {
 	text-decoration: none;
}

.name a:hover {
	text-decoration: underline;
}

.username {
	display: inline;
}

.button {
	display: inline;
}

iframe {
	padding-left: 300px;
	border: none;
}